#fun-mo-graph{


}

html{
  margin: 20px;
}

#fun-mo-graph:hover{
background-color: red;
cursor: context-menu;
}

.thumbnail{
  width: 31%;
  margin: 1vw;
  border: 2px solid black;
  stroke-dasharray: 100;
  stroke-dashoffset: 10%;
}

.lrg-image{
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

img {

  background-image: contain;

}
